.mbnav {
	width: 60%; height: auto; right: 0px; display: none; position: absolute; z-index: 999;
}
.mbnav ul {
	margin: -1px; border: 0px currentColor; border-image: none;
}
.mbnav li {
	margin: -1px; border: 0px currentColor; border-image: none;
}
.mbnav a {
	margin: -1px; border: 0px currentColor; border-image: none;
}
.mbnav ul {
	font-size: 1em; list-style-type: none;
}
.mbnav ul li {
	background: rgb(129, 129, 129); width: 100%; height: auto; text-align: center;
}
.mbnav ul li a {
	width: 100%; height: 50px; text-align: center; color: rgb(255, 255, 255); line-height: 50px; text-decoration: none; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block;
}
.mbnav ul li a:hover {
	background-color: rgb(204, 204, 204);
}
.nav2j {
	display: none;
}
.nav2j li a {
	height: 70px; line-height: 70px;
}
#nav2 {
	text-align: center; float: left;
}
#nav2 ul {
	margin: 0px; padding: 0px; line-height: 50px; position: relative; z-index: 5;
}
#nav2 a {
	padding: 0px 21px 0px 0px; text-align: center; text-decoration: none; float: left; display: block; position: relative; z-index: 35;
}
#nav2 ul a {
	line-height: 40px;
}
#nav2 li {
	height: 40px; line-height: 40px; float: left; position: relative; z-index: 20;
}
#nav2 li li {
	margin-top: 0px; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
#nav2 ul {
	left: -1px; top: 38px; width: 130px; font-size: 13px; display: none; position: absolute;
}
#nav2 li ul a {
	padding: 0px 21px; width: 130px; height: auto; text-align: left; float: left;
}
#nav2 ul ul {
	top: auto; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
#nav2 li ul ul {
	left: 130px; top: 0px;
}
#nav2 li:hover ul ul {
	display: none;
}
#nav2 li:hover ul ul ul {
	display: none;
}
#nav2 li:hover ul ul ul ul {
	display: none;
}
#nav2 li:hover ul {
	display: block;
}
#nav2 li li:hover ul {
	display: block;
}
#nav2 li li li:hover ul {
	display: block;
}
#nav2 li li li li:hover ul {
	display: block;
}
#nav2 a {
	color: rgb(255, 255, 255);
}
#nav2 ul {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
#nav2 li ul a {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#nav2 ul a {
	background-image: none; background-color: rgb(85, 85, 85);
}
#nav2 ul li {
	background-image: none; background-color: rgb(85, 85, 85);
}
#nav2 ul a:hover {
	color: rgb(255, 255, 255); background-color: rgb(153, 153, 153);
}
#nav2 ul a:focus {
	color: rgb(255, 255, 255); background-color: rgb(153, 153, 153);
}
#nav2 a:hover {
	color: rgb(204, 204, 204);
}
#nav2 a:focus {
	color: rgb(204, 204, 204);
}
#nav2 .current_page_item a {
	
}
#nav2 .current_page_parent .current_page_item a {
	color: rgb(255, 255, 255); border-left-color: currentColor; border-left-width: medium; border-left-style: none; background-image: none;
}
#nav2 .current_page_item ul a {
	color: rgb(255, 255, 255); border-left-color: currentColor; border-left-width: medium; border-left-style: none; background-image: none;
}
